.main{
  min-height: 500px;
  margin: 80px 0 0 0;
  padding: 80px 30px 0px 30px;
  background-color: rgb(185, 183, 183);
  @media(max-width: 878px){
    min-height: 450px;
  }
  @media(max-width: 768px){
    padding: 40px 30px 20px 30px;
  }
  &__wrapper{
    display: flex;
    @media(max-width: 578px){
      flex-direction: column;
    }
  }
  &__for-client{
    flex: 0 1 50%;
    padding: 0 20px 0 0;
    h1{
      @include adaptiv-font(20, 16);
      font-weight: 700;
      text-align: left;
      margin: 0 0 10px 0;
    }
  }
  &__text{
    max-width: 440px;
    @include adaptiv-font(16, 12);
    line-height: 20px;
    text-align: justify;
    margin: 0 0 40px 0;

  }
  &__image{
    flex: 0 1 50%;
    @media(max-width: 578px){
      margin: 40px 0 0 0;
    }
  }
  &__img{
    padding: 30%;
    z-index: 0;
    @media(max-width: 686px){
      padding: 50%;
    }
    @media(max-width: 578px){
      padding: 30%;
    }
  }
}